@using Application.BusinessLogic
@using Application.Contracts.BusinessLogic
@using Data.Contracts.Models
@inject IWageBusinessLogic wageBl
<div class="container">
    <div class="row">
        <div class="col">
            <h3>@String.Format("Time to load: {0} ms", elapsedMiliseconds)</h3>

        </div>
        <div class="col">
            <button class="btn btn-primary" disabled="@(!isLoaded)" @onclick="UpdateWages">Update Wages</button>
            <button class="btn btn-primary" disabled="@(!isLoaded)" @onclick="@(() => GenerateAndGetWages(100000))">Generate Wages</button>
        </div>
    </div>
    @if(isLoaded == false){
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    }
    @if (isLoaded)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Gross</th>
                    <th scope="col">Net</th>
                </tr>
            </thead>
            @foreach (var wage in wages)
            {
                <tr>
                    <td>
                        @String.Format("{0:f} Ft", wage.Gross)
                    </td>
                    <td>
                        @String.Format("{0:f} Ft", wage.Net)
                    </td>
                </tr>
            }
        </table>
    }
</div>
@code {
    private List<Wage> wages = new List<Wage>();
    private bool isLoaded = false;
    private int elapsedMiliseconds = 0;
    private static System.Timers.Timer timer;

    public void StartTimer()
    {
        elapsedMiliseconds = 0;
        timer = new System.Timers.Timer(1);
        timer.Elapsed += CountDownTimer;
        timer.Enabled = true;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        elapsedMiliseconds += 1;
    }
    public void StopTimer(){
        timer.Enabled = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await GenerateAndGetWages(100000);
    }

    public async Task GenerateAndGetWages(int count){
        isLoaded = false;
        StartTimer();
        await GenerateWages(count);
        StopTimer();
        await GetWages();
        isLoaded = true;
    }

    public async Task GenerateWages(int count){
        try
        {
            await wageBl.GenerateWagesAsync(count);

        }
        catch (Exception)
        {
        }
    }
    public async Task GetWages(){
        wages = await wageBl.GetWagesAsync();
        wages = wages.Take(10).ToList();
    }
    public async Task UpdateWages(){
        isLoaded = false;
        StartTimer();
        await wageBl.UpdateWagesAsync();
        StopTimer();
        isLoaded = true;
        wages = await wageBl.GetWagesAsync();
        wages = wages.Take(10).ToList();
    }
}
